<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lara_FinalProject.Properties.Settings.CLaraCSFinalConnectionString"
            connectionString="Data Source=gaming.tstc.edu;Initial Catalog=CLaraCSFinal;User ID=CLara;Password=1617180"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>